.profilePageHeader .btn, .profile .btn{
    background-color: hsl(var(--primary)) !important;
    color:white;
}
.profileImage{
    width: 100px;
    height: 100px;
    border: 2px dashed hsl(var(--primary-dark)) ;
    border-radius: 50%;
    padding: 3px;
    margin-block: 15px;
}
p{
    margin: 5px !important;
}
.data p{
    margin: 15px !important;
    color: hsl(var(--foreground));
}
.data p svg{
    color: hsl(var(--muted-foreground));
}
