.container1{
    height:100vh;
}
.form-section{
    position: relative;
}
.form-select,.type,.collapseMenu,.email,.password,.submit,.form-select1,.name,.phone,.date,.time,.description,.title,.cancel{
    width: 80% !important;
    margin-bottom: 5px !important;
}
.form-select,.form-select1{
    background-color: hsl(var(--background));
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    box-shadow: 0 0 0 0 !important;
}
.collapseMenu{
    border: 1px solid #EEE;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateY(0px);
    opacity: 0;
    position: absolute;
    left: calc(20% /2);
    z-index: -1;
}
.collapseMenu span{
    text-indent: 10px;
    padding: 3px 0px;
    border-radius: 5px;
    margin: 3px;
}
.collapseMenu span:hover{
    background-color: hsl(var(--accent));
}
.form-select:focus + .collapseMenu {
    animation: slideAndFade 0.3s ease-out forwards;
    z-index: 1;
    background-color: hsl(var(--background));
}
.collapseMenu1{
    bottom: 35%;
}
.form-select:focus + .collapseMenu {
    animation: slideAndFade1 0.3s ease-out forwards;
}
@keyframes slideAndFade1 {
    0% {
        opacity: 0%;
        transform: translateY(0);
    }
    50% {
        opacity: 0%; 
        transform: translateY(20px); 
    }
    100% {
        opacity: 100%;
        transform: translateY(120px);
    }
}
@keyframes slideAndFade {
    0% {
        opacity: 0%;
        transform: translateY(0);
    }
    50% {
        opacity: 0%; 
        transform: translateY(75px); 
    }
    100% {
        opacity: 100%;
        transform: translateY(160px);
    }
}
h2{
    font-weight: 700;
    margin-bottom: 10px;
}
label{
    color: hsl(var(--muted-foreground));
    font-size: 15px;
}
p{
    color: hsl(var(--muted-foreground));
}
.submit{
    background:var(--primary-gradient) ;
    color: hsl(var(--background));
    border-radius: 5px;
    margin-top: 15px;
}
input{
    font-size: 10px;
    padding-block: 10px !important;
    border-radius: 10px !important;
}
input:focus{
    outline: 2px solid hsl(270, 100%, 50%); 
    box-shadow: 0 0 0 2px hsl(270, 100%, 50%); 
}
.email,.password{
    margin-block:10px !important;
}
.navigation{
    color:hsl(var(--primary-light));
    cursor: pointer;
}
.avatar-section{
    background: var(--hero-gradient);
}
.img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}
.welcome{
    font-size: 40px;
    color: hsl(var(--background));
    font-weight: 700;
    margin-block: 15px;
}
.welcome + p{
    color: hsl(var(--background));
    font-size: 20px;
}

@media screen and (max-width:620px) {
    .avatar-section{
        display: none;
    }
    .form-section{
        width: 100%;
    }
}